<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="team3_Project1.dao.BoardDAO">
	<select id="getMember" resultType="team3_Project1.model.vo.Member">
		select * from member
	</select>
	<insert id="insertMember">
		insert into member(me_id, me_pw, me_email, me_name) values(#{member.me_id}, #{member.me_pw}, #{member.me_email}, #{member.me_name})
	</insert>
	<select id="getCategory" resultType="team3_Project1.model.vo.Category">
		select * from category
	</select>
	<select id="getMyPost" resultType="team3_Project1.model.vo.Post">
		select * from post 
		where po_me_id = #{me_id}
	</select>
	<select id="getMyComment" resultType="team3_Project1.model.vo.Comment">
		select * from comment
		where co_me_id = #{me_id};
	</select>
	<select id="getBoard" resultType="team3_Project1.model.vo.Board">
		select * from board
		where bo_ca_title = #{ca_title}
	</select>
	<select id="getPost" resultType="team3_Project1.model.vo.Post">
		select * from post
		where po_bo_num = #{bo_num}
		order by po_num desc
		limit #{postListNum},5
	</select>
	<select id="getDetailPost" resultType="team3_Project1.model.vo.Post">
		select * from post
		where po_num = #{num}
	</select>
	<select id="getName" resultType="string">
		select * from member
		where me_name = #{name}
	</select>
	<update id="updateView">
		update post
		set po_view = po_view+1
		where po_num = #{num}
	</update>
	<insert id="insertPost">
		insert into post(po_content, po_title, po_me_id, po_bo_num, po_me_name)
		values(#{post.po_content}, #{post.po_title}, #{post.po_me_id}, #{post.po_bo_num}, #{post.po_me_name})
	</insert>
	<insert id="insertComment">
		insert into comment(co_content, co_po_num, co_me_id)
		values(#{comment.co_content}, #{comment.co_po_num}, #{comment.co_me_id})
	</insert>
	<select id="getCommentList" resultType="team3_Project1.model.vo.Comment">
		select * from comment
		where co_po_num = #{co_po_num}
	</select>
	<insert id="addMember">
	insert into member(me_id,me_pw,me_name,me_email) values(#{member.id},#{member.pw},#{member.nickname},#{member.email})
	</insert>
 	<select id="selectMemberList" resultType="team3_Project1.model.vo.Member">
  		select * from member where me_email=#{email}
  	</select>
  	
  	<select id="selectMemberListid" resultType="team3_Project1.model.vo.Member">
  		select * from member where me_id=#{id}
  	</select>
  	<delete id="deleteUser">
  		delete from member where me_id=#{id}
  	</delete>
  	<insert id="addTitle">
  	insert into category(ca_title)values(#{title})
  	</insert>
  	<select id="selectMemberListCa" resultType="team3_Project1.model.vo.Category">
  		select * from category;
  	</select>
  	<delete id="deleteCa">
  		delete from category where ca_title=#{title}
  	</delete>
  	<select id="selectMemberListBo" resultType="team3_Project1.model.vo.Board" >
  		select * from Board;
  	</select>
  	<delete id="deleteBo">
  		delete from board where bo_title=#{title}
  	</delete>
  	<insert id="addTitleBo">
 		insert into board(bo_title,bo_ca_title)values(#{board.bo_title},#{board.bo_ca_title})
  	</insert>
  	<insert id="addTitlePo">
  		insert into post(po_content,po_title,po_me_id,po_me_name,po_view,po_bo_num)
  		value(#{post.po_content},#{post.po_title},'admin','admin',0,(select bo_num from board 
  																		where bo_ca_title = #{ca_title} and bo_title = #{bo_title} ));
  	</insert>
  	<delete id="deletePo">
  		delete from post where po_bo_num=(select bo_num from board where bo_ca_title=#{ca_title}and bo_title=#{bo_title}and po_title=#{po_title});
  	</delete>
  	<update id="updatePo">
  		update post set po_content=#{post.po_content}where(select bo_num from board where bo_ca_title=#{ca_title}and bo_title=#{bo_title}and po_title=#{post.po_title});
  	</update>
  	<select id="selectMemberListPo" resultType="team3_Project1.model.vo.Post">
  		select * from post
  	</select>
  	<delete id="deleteCo">
  		delete from comment where co_po_num = (select co_po_num from post 
  												join board on po_bo_num = bo_num where bo_ca_title = #{ca_title} and bo_title = #{bo_title} and po_title = #{po_title}and co_num = #{co_num})
  	</delete>
</mapper>